app/data/receitas.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="receitas" type="receitasType"/>
  <xs:complexType name="categoriasType">
    <xs:sequence>
      <xs:element name="categoria" maxOccurs="unbounded" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Prato Principal"/>
            <xs:enumeration value="Doces e Sobremesas"/>
            <xs:enumeration value="Pequeno Almoço"/>
            <xs:enumeration value="Sandes"/>
            <xs:enumeration value="Entradas e Petiscos"/>
            <xs:enumeration value="Molhos"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tiposType">
    <xs:sequence>
      <xs:element name="tipo" maxOccurs="unbounded" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">

          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="autoresType">
    <xs:sequence>
      <xs:element name="nome_autor">
        <xs:simpleType>
          <xs:restriction base="xs:string">

          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ingredienteType">
    <xs:sequence>
      <xs:element type="xs:string" name="quantidade"/>
      <xs:element type="xs:string" name="unidade" minOccurs="0"/>
      <xs:element type="xs:string" name="nome_i"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ingredientesType">
    <xs:sequence>
      <xs:element type="ingredienteType" name="ingrediente" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="descriçaoType">
    <xs:sequence>
      <xs:element type="xs:string" name="passo" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="receitaType">
    <xs:sequence>
      <xs:element name="nome">
        <xs:simpleType>
          <xs:restriction base="xs:string">

          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="categoriasType" name="categorias" minOccurs="0"/>
      <xs:element type="xs:string" name="categoria" minOccurs="0"/>
      <xs:element type="tiposType" name="tipos"/>
      <xs:element name="data">
        <xs:simpleType>
          <xs:restriction base="xs:string">

          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="autoresType" name="autores"/>
      <xs:element type="ingredientesType" name="ingredientes"/>
      <xs:element type="xs:string" name="dificuldade"/>
      <xs:element name="imagem">
        <xs:simpleType>
          <xs:restriction base="xs:string">

          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="descriçaoType" name="descriçao"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="receitasType">
    <xs:sequence>
      <xs:element type="receitaType" name="receita" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>